// FONTS
$font-main: 'Schoolbell', sans-serif;
$font-childlike: 'Shadows Into Light Two', sans-serif;


//COLORS
$h1: rgb(207, 255, 50);
$background: rgb(19, 3, 27);
$h2: rgb(28, 194, 255);
$button: rgb(255, 56, 113);
$x: rgb(255, 145, 27);